window {
    border-radius: 30px;
    padding: 20px;
    opacity: 0.8;

    background-color: #1b1b1b;
}

#outer-box {
    margin: 15px;
    border-radius: 20px;
    padding: 10px;
    color: #2b2b2b;
    background-color: #2b2b2b;
}

#input {
    margin: 5px;
    padding: 10px;
    color: #f8fbfc;

    border-color: #D98500;
    background-color: #3a3a3a;
    border-radius: 10px;
    border-width: 2px;
}

#inner-box {
    margin: 10px;
}


#scroll {
    margin: 5px;
    border-radius: 10px;

    border: 1px solid #D98500;
    background-color: #3a3a3a;

    padding: 1px;
}

#text {
    opacity: 1;
    margin: 2px;

    font-family: cousine nerd font mono;

    color: #f0f3f3;
}

.entry {
    margin-right: 10px;
    margin-left: 10px;
}

#entry {
    margin-right: 10px;
    margin-left: 10px;
}
